<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h1 *ngIf="taskEditId == 0">Nueva Tarea</h1>
      <h1 *ngIf="taskEditId != 0">Editar Tarea</h1>
    </div>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="taskForm">
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field appearance="standard">
              <mat-label>Profesión</mat-label>
              <mat-select formControlName="profession">
                <mat-option *ngFor="let profession of professionList" [value]="profession">
                  {{profession.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Consultor</mat-label>
              <mat-select formControlName="consultant">
                <mat-option *ngFor="let consultant of consultantList" [value]="consultant">
                  {{consultant.access?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Cliente</mat-label>
              <mat-select formControlName="customer">
                <mat-option *ngFor="let customer of customerList" [value]="customer">
                  {{customer.access?.name}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Descripción</mat-label>
              <input matInput formControlName="description" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="state">
                <div *ngFor="let state of statesList">
                  <mat-option *ngIf="state.group=='task'" [value]="state">
                    {{state.name}}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <button *ngIf="taskEditId == 0" mat-button color="accent" (click)="saveTask()">Guardar</button>
            <button *ngIf="taskEditId != 0" mat-button color="warn" (click)="editTask()">Editar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>