<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <mat-card>
      <mat-card-title>
        <h2>Acerca de nosotros</h2>
      </mat-card-title>
      <mat-card-subtitle>
        <p>
          Somos estudiantes de 7 semestre en ingenieria de sistemas de la universidad <strong>Escuela Tecnologica
            Instituto Tecnico Central</strong> y esta pagina es el resultado del proyecto que realizamos para la materia
          <strong>Programacion 3</strong>
        </p>
      </mat-card-subtitle>
      <mat-card-content>
        <strong class="container no-records">Integrantes</strong>
        <mat-list>
          <mat-list-item> Harold Cardenas </mat-list-item>
          <mat-list-item> Sergio Gomez </mat-list-item>
          <mat-list-item> Deivy Puerto </mat-list-item>
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>
</div>