<form [formGroup]="form">
  <p>Utilice el siguiente formulario para cambiar su contraseña.</p>

  <div fxLayout="row">

    <div fxFlex="40%" fxFlex.md="60%" fxFlex.sm="50%" fxFlex.xs="100%">

      <mat-form-field class="full-width">
        <input matInput placeholder="Contraseña actual" formControlName="currentPassword"
          [type]="hideCurrentPassword ? 'password' : 'text'" autocomplete="current-password">
        <mat-icon matSuffix (click)="hideCurrentPassword = !hideCurrentPassword">
          {{hideCurrentPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['currentPassword'].hasError('required')">
          Por favor ingrese su contraseña actual
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Nueva contraseña" formControlName="newPassword"
          [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['newPassword'].hasError('required')">
          Por favor ingrese una nueva contraseña
        </mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Confirmar ueva contraseña" formControlName="newPasswordConfirm"
          [type]="hideNewPassword ? 'password' : 'text'" autocomplete="new-password">
        <mat-icon matSuffix (click)="hideNewPassword = !hideNewPassword">
          {{hideNewPassword ? 'visibility' : 'visibility_off'}}
        </mat-icon>

        <mat-error *ngIf="form.controls['newPasswordConfirm'].hasError('required')">
          Por favor confirme su nueva contraseña
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [disabled]="form.invalid || disableSubmit"
        (click)="changePassword()">Guardar</button>

    </div>

  </div>

</form>