<div class="container" fxLayout="row" fxLayoutAlign="center none">
  <div fxFlex="95%">
    <div class="container" fxLayout="row" fxLayoutAlign="center none">
      <h1 *ngIf="customerEditId == 0">Nuevo Cliente</h1>
      <h1 *ngIf="customerEditId != 0">Editar Cliente</h1>
    </div>
    <mat-card>
      <mat-card-content>
        <form [formGroup]="customerForm">
          <div fxLayout="column" fxLayoutAlign="space-between center">
            <mat-form-field appearance="standard">
              <mat-label>Nombre</mat-label>
              <input matInput formControlName="name" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Correo</mat-label>
              <input matInput formControlName="email" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Contraseña</mat-label>
              <input type="password" matInput formControlName="password" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Telefono</mat-label>
              <input matInput formControlName="phone" autocomplete="off">
            </mat-form-field>
            <mat-form-field appearance="standard">
              <mat-label>Estado</mat-label>
              <mat-select formControlName="state">
                <div *ngFor="let state of statesList">
                  <mat-option *ngIf="state.group=='customer'" [value]="state">
                    {{state.name}}
                  </mat-option>
                </div>
              </mat-select>
            </mat-form-field>
            <button *ngIf="customerEditId == 0" mat-button color="accent" (click)="saveCustomer()">Guardar</button>
            <button *ngIf="customerEditId != 0" mat-button color="warn" (click)="editCustomer()">Editar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>